html {
  height: inherit;
  min-height: 100%;
  position: relative;
  width: inherit;
}

body {
  background-color: #101010;
  margin-bottom: 54px;
  font-size: 16px;
}


nav {
  margin-bottom: 1em;
}

.main {
  display: flex;
  background-color: #fff;
  border-radius: 4px;
  margin: 0 48px;
  margin-bottom: 24px;
  padding: 24px;
  flex-direction: row;
}

.sidebar {
  flex: 0 0 200px;
  max-width: 200px;
  min-width: 200px;
  width: 200px;
}

.content {
  padding-left: 2em;
}

/* List of check results for a given release */
.dashboard {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-gap: 20px;
}

.card-header {
  font-weight: bold;
}

.card-link {
  color: #212529;
}

.card-link a:hover {
  color: #212529;
}

footer {
  background-color: #fff;
  bottom: 0;
  height: 30px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media (max-width: 992px) {
  .user {
    right: 5px;
  }

  .dashboard {
    display: block;
  }

  .main {
    border-radius: 0;
    margin: 0;
    padding: 5px;
  }
}
